<!DOCTYPE html>
<html lang="en">

<head>
    <title>ERPNext Conference 2017</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-default navbar-main navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                        <span>
                            <img class="navbar-icon" src="assets/svgs/erp-icon.svg">ERPNext
                        </span>
                </a>
            </div>
            <div class="hidden-xs">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Program</a></li>
                    <li><a href="#">Speakers</a></li>
                    <li><a href="#">Sponsors</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="jumbotron text-center bg" style>
                <h1>ERPNext Conference 2017</h1>
                <p>October 12th-13th 2017, Mumbai<br>Conference + Workshop</p>
                <button href="#" class="button">
                        <span>Register</span>
                </button>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="assets/profiles/Ross.jpg" alt="...">
                    <div class="caption">
                        <h3>Ross Gellar</h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
